
@{
    ViewData["Title"] = "Secret";
}

<h1>Secret</h1>

<p>This page is only visible for authenticated users</p>

<dl>
    <dt>User.Identity.IsAuthenticated:</dt>
    <dd>@User.Identity.IsAuthenticated</dd>
    <dt>User.Identity.Name:</dt>
    <dd>@User.Identity.Name</dd>
</dl>

<h3>User Claims</h3>
<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>