@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <form asp-action="searchSite" method="get">
        <div class="form-group">
            <label for="inputSiteName">Hållplats</label>
            <input class="form-control" id="inputSiteName" name="q" aria-describedby="siteHelp" placeholder="Slussen">
            <small id="siteHelp" class="form-text text-muted">Ange namnet på en hållplats eller område för kollektivtrafiken i Stockholm.</small>
        </div>
        <button type="submit" class="btn btn-primary">Sök</button>
    </form>
</div>

<hr />

<div id="resultList">XYZ</div>

@section Scripts { 
<script>
    (function (w, d) {
        var input = d.getElementById('inputSiteName');
        var result = d.getElementById('resultList');

        input.addEventListener("input", function () {
            var url = `/Home/SearchSite?q=${encodeURIComponent(input.value)}`;

            fetch(url, {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                }
            })
                .then(function (response) {
                    return response.text();
                })
                .then(function (text) {
                    result.innerHTML = 'Result: ' + text;
                });

            

        });

        
    })(window, document);

</script>
}
