
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Hello world!</h1>

    <ul>
        <li><a href="/kurslista">/kurslista</a></li>
        <li>@Url.Action("Show", "Course", new { id = 1234 });</li>
    </ul>



</body>
</html>
