
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UseView</title>
</head>
<body>
    <h1>Use a View!</h1>

    @{ int x = 5;
        int y = 0;
        int z = x / y;}
</body>
</html>
